script(src='./bower_components/jquery/dist/jquery.min.js')
script(src='./bower_components/fullcalendar/dist/gcal.min.js')

script.
  $(function() {
    var key    = '{{GOOGLE_KEY}}';
    var client = '{{GOOGLE_CLIENT}}';

  });

script(src="/javascripts/fullcalendar-google-init.js")