extends layout

block content
  h1= title
  p Welcome to #{title}


  .row
    .col-xs-12
      h1 FullCalendar with jQuery UI Modal
      p
        | From the article 
        a(href='http://www.mikesmithdev.com/blog/jquery-full-calendar-with-ui-modal-dialog/', target='_blank') jQuery FullCalendar - Event Description with Modal Pop-up
      br
      br
      #calendar

  #eventContent(title='Event Details', style='display:none;')
    span#startTime
    br
    span#endTime
    br
    br
    p#eventInfo
    p
      strong
        a#eventLink(href='', target='_blank') Read More
