doctype html
html
  head
    title= title

    //link(rel='stylesheet', href='/stylesheets/style.css')



    //link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    
    //link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.0.1/fullcalendar.min.css')
    
    //link(rel='stylesheet', href='https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css')



  <!-- Stylesheets -->
  ../../../assets/css/bootstrap.min.css
  bootstrap-extend.min.css
  ../../../assets/css/site.min.css

  <!-- Plugins -->

  <!-- Plugins For This Page -->
  ../../../assets/vendor/fullcalendar/fullcalendar.css
  ../../../assets/vendor/bootstrap-datepicker/bootstrap-datepicker.css
  ../../../assets/vendor/bootstrap-touchspin/bootstrap-touchspin.css
  

  <!-- Page -->
  <link rel="stylesheet" href="../../../assets/examples/css/apps/calendar.css

  <!-- Fonts -->
  ../../../assets/fonts/web-icons/web-icons.min.css
  
  http://fonts.googleapis.com/css?family=Roboto:300,400,500,300italic


  body
    block content

    include scripts


       