doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')

    //link(rel='stylesheet', href='./bower_components/bootstrap/dist/css/bootstrap.min.css')

    //link(rel='stylesheet', href='./bower_components/fullcalendar/dist/fullcalendar.min.css')

    //link(rel='stylesheet', href='./bower_components/fullcalendar/dist/fullcalendar.min.css')

    //link(rel='stylesheet', href='https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css')

    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.0.1/fullcalendar.min.css')
    
    link(rel='stylesheet', href='https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css')


  body
    block content

    include scripts


    if bootstrap
      include partials/scripts-fullcalendar

    if google-calendar
      include partials/scripts-google-calendar

    if jquery-ui
      include partials/scripts-jquery-ui     