doctype html
html
  head
    title= title


    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.0.1/fullcalendar.min.css')
    


    // Stylesheets 

    link(rel='stylesheet', href='bootstrap.min.css')
    link(rel='stylesheet', href='bootstrap-extend.min.css')
    link(rel='stylesheet', href='site.min.css')
  


    // Plugins

    // Plugins For This Page 
  
    link(rel='stylesheet', href='fullcalendar.css')
    link(rel='stylesheet', href='/vendor/bootstrap-datepicker/bootstrap-datepicker.css')
    link(rel='stylesheet', href='/vendor/bootstrap-touchspin/bootstrap-touchspin.css')
  

    // Page
  
    link(rel='stylesheet', href='/stylesheets/calendar.css')

    // Fonts 
  
    link(rel='stylesheet', href='/fonts/web-icons/web-icons.min.css')

    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,300italic')
  
  


  body
    block content

    include scripts


       