// Core  
script(src='http://code.jquery.com/jquery-3.1.1.min.js')

script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')


// Plugins 


// Plugins For This Page 

//script(src='jquery-ui.min.js')
//script(src='moment/moment.min.js')
//script(src='fullcalendar/fullcalendar.js')

// Instead of - we're using CDN :todo

script(src='https://code.jquery.com/ui/1.12.1/jquery-ui.min.js', integrity='sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=', 
crossorigin='anonymous')

script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js')

script(src='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.0.1/fullcalendar.min.js')


script(src='/vendor/bootstrap-datepicker/bootstrap-datepicker.js')
script(src='/vendor/bootstrap-touchspin/jquery.bootstrap-touchspin.min.js')

// Scripts 
script(src='core.js')
script(src='site.js')

script(src='config-colors.js')


// Scripts For This Page 


script(src='components.js')

script(src='app.js')

script(src='calendar.js')






// When we'll include bower or AMD we'll use a better way :todo
//script(src='./bower_components/jquery/dist/jquery.min.js')
//script(src='./bower_components/bootstrap/dist/js/bootstrap.min.js')
//script(src='./bower_components/moment/src/moment.js')
//script(src='./bower_components/fullcalendar/dist/fullcalendar.min.js') 