  // Core  
  ../../../assets/vendor/jquery/jquery.js
  ../../../assets/vendor/bootstrap/bootstrap.js
  script(src='http://code.jquery.com/jquery-3.1.1.min.js')
  script(src='http://code.jquery.com/jquery-3.1.1.min.js')


  // Plugins 


  // Plugins For This Page 
  ../../../assets/vendor/jquery-ui/jquery-ui.min.js
  ../../../assets/vendor/moment/moment.min.js
  ../../../assets/vendor/fullcalendar/fullcalendar.js
  script(src='http://code.jquery.com/jquery-3.1.1.min.js')
  script(src='http://code.jquery.com/jquery-3.1.1.min.js')
  script(src='http://code.jquery.com/jquery-3.1.1.min.js')
  
  ../../../assets/vendor/bootstrap-datepicker/bootstrap-datepicker.js
  ../../../assets/vendor/bootstrap-touchspin/jquery.bootstrap-touchspin.min.js
  script(src='http://code.jquery.com/jquery-3.1.1.min.js')
  script(src='http://code.jquery.com/jquery-3.1.1.min.js')

  // Scripts 
  ../../../assets/js/core.js
  ../../../assets/js/site.js
  script(src='http://code.jquery.com/jquery-3.1.1.min.js')
  script(src='http://code.jquery.com/jquery-3.1.1.min.js')


  ../../../assets/js/configs/config-colors.js
  script(src='http://code.jquery.com/jquery-3.1.1.min.js')


  // Scripts For This Page 

  components.js
  script(src='http://code.jquery.com/jquery-3.1.1.min.js')

  app.js
  script(src='http://code.jquery.com/jquery-3.1.1.min.js')

  calendar.js
  script(src='http://code.jquery.com/jquery-3.1.1.min.js')


//script(src='http://code.jquery.com/jquery-3.1.1.min.js')

//script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')

//script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js')

//script(src='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.0.1/fullcalendar.min.js')




//script(src='./bower_components/jquery/dist/jquery.min.js')
//script(src='./bower_components/bootstrap/dist/js/bootstrap.min.js')
//script(src='./bower_components/moment/src/moment.js')
//script(src='./bower_components/fullcalendar/dist/fullcalendar.min.js') 